encode=json;
context=
{
    uniqueID:"${uniqueID}",
    name:"SystemUiPlugin",
    targetPackage:["com.android.systemui"],
    version:${pluginVersion},
    pluginClass:["com.coloros.systemui.common.backuprestore.plugin.SystemUiBackupPlugin", "com.coloros.systemui.common.backuprestore.plugin.SystemUiRestorePlugin"],
    dexs:["${dex1}"],
    soPaths:[],
    useParentClass:true,
    backupFolder:"Setting//SystemUi",
    dataPattern:0
};