encode=json;
context=
{
    uniqueID:"810",
    name:"SystemUiPlugin",
    targetPackage:["com.android.systemui"],
    version:1,
    pluginClass:["com.coloros.systemui.common.backuprestore.plugin.SystemUiBackupPlugin", "com.coloros.systemui.common.backuprestore.plugin.SystemUiRestorePlugin"],
    dexs:["810_d780c81_150908.jar"],
    soPaths:[],
    useParentClass:true,
    backupFolder:"Setting//SystemUi",
    dataPattern:0
};