encode=json;
context=
{
    uniqueID:"1060",
    name:"ColorEyeProtectPlugin",
    targetPackage:["com.color.eyeprotect"],
    version:1,
    pluginClass:["com.color.common.recovery.CommonBackupPlugin", "com.color.common.recovery.CommonRestorePlugin"],
    soPaths:[],
    useParentClass:true,
    backupFolder:"Setting//ColorEyeProtect",
    dataPattern:0
};